body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282c34;
    color: #ffdcff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    position: relative; /* 클릭 위치 기반으로 스파크가 배치되도록 */
    overflow: hidden; /* 스파크가 화면을 벗어나지 않도록 */
}

#typing-text {
    display: inline;
    white-space: nowrap;
    text-shadow: 2px 2px 4px rgba(212, 212, 212, 0.6); /* 글자에 그림자 추가 */
}

.cursor {
    display: inline-block;
    font-size: 24px;
    color: white;
    animation: blink 1s infinite;
    text-shadow: 2px 2px 4px rgba(186, 186, 186, 0.6); /* 커서에 그림자 추가 */
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.cursor.no-blink {
    animation: none;
}

.typing-line {
    display: inline-block;
    background-color: white;
}

/* 스파크 애니메이션 스타일 */
.spark {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.8);
    animation: sparkAnimation 1s forwards;
}

@keyframes sparkAnimation {
    0% {
        transform: scale(0) translate(0, 0);
        opacity: 1;
    }
    100% {
        transform: scale(3) translate(var(--x), var(--y));
        opacity: 0;
    }
}
